body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  font-size: 30px;
  margin: 80px 0px 0px 500px;
  font-weight: bold;
}

.underline {
  background-color:  rgb(145, 126, 23);
  margin-left: 550px;
  margin-top: 2px;
  width: 100px;
  height: 6px;
}

.header {
  display: flex;
  margin-top: 20px;
  margin-left: 400px;
  margin-right: 500px;
  margin-bottom: 60px;;
  justify-content: space-between;
}

.header--button {
  color: rgb(124, 113, 49);
  background-color: white;
  transition-duration: 0.4s;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
}

.header--button:hover {
  background-color: rgb(124, 113, 49);
  color:white;
}

.menu--image {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-color: rgb(124, 113, 49);
  border-style: solid;
  border-width: 3px;
}

.menu--item {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.menu {
  margin: 0px 15px 30px 15px;
  column-count: 2;
}

.lightUnderline {
  height: 2px;
  width: 265px;
  background-color:lightgrey;
  margin-bottom: 10px;
}

.menu--price {
  color:rgb(124, 113, 49);
}

.menu--title {
  text-transform: capitalize;
}

.menu--info {
  justify-content: space-between;
}